---
subject: My Basic Email Template Subject
---

{{> header}}

<container class="confirmation-body">
    <row>
        <columns small="12">
            <div class="logo-container padded-container">
                <center>
                    <div id="body confirmation-icon-container">
                        <img class="icon-img" src="https://s3-us-west-2.amazonaws.com/clubhubs3/assets/font-awesome/calendar-alt.png"/>
                    </div>
                </center>
            </div>
        </columns>
    </row>
    <row>
        <columns class="content-column" small="12">
            <div class="padded-container bottom-border">
                <h1 class="text-center">{{confirmation.title}}</h1>

                <spacer size="22"></spacer>
                <p class="text-center light-text">{{confirmation.subtitle}}</p>

                <spacer size="22"></spacer>
                <p class="text-center heavy-text">{{confirmation.info}}</p>
            </div>
        </columns>
    </row>
    <row>
        <columns class="button-column" small="12">
            <div class="padded-container bottom-border">
                <button class="expanded small" href="{{confirmation.url}}">View Reservation</button>
            </div>
        </columns>
    </row>
</container>

{{> footer}}