---
subject: New Event
---

<container class="body event-body">
  <row class="logo-row">
    <columns class="logo-col" small="12">
      <div class="logo-container padded-container">
        <a href="{{club.domain}}">
          <img src="{{club.logoURL}}" alt="{{club.name}}">
        </a>
      </div>
    </columns>
  </row>

  <row class="image-row">
    <columns small="12">
      <div class="image-container">
        <a href="{{event.url}}">
          <img class="text-center hero-image" src="{{event.photoURL}}" alt="">
        </a>
      </div>
    </columns>
  </row>

  <row class="event-row title-row">
    <columns small="12">
      <div class="title-container padded-container bottom-border">
        <h1>{{ event.name }}</h1>
        <p>{{ event.subtitle }}</p>
      </div>
    </columns>
  </row>

  <row class="event-row details-row">
    <columns small="12">
      <container class="body event-body">
        <row>
          <columns small="12" large="6">
            <div class="details-container padded-container bottom-border">
              <p class="detail-header">LOCATION</p>
              <p class="detail-content">{{event.location}}</p>
              <p class="detail-content">{{event.street}}</p>
              <a class="detail-link">View On Map</a>
            </div>
          </columns>
          <columns small="12" large="6">
            <div class="details-container padded-container bottom-border">
              <p class="detail-header">DATE & TIME</p>
              <p class="detail-content">{{event.date}}</p>
              <p class="detail-content">{{event.time}}</p>
              <a class="detail-link">Add To Calendar</a>
            </div>
          </columns>
        </row>
      </container>
    </columns>
  </row>

  <row class="event-row button-row">
    <columns small="12">
      <div class="button-container padded-container bottom-border">
        <button class="expanded" href="{{event.url}}">{{event.cta}}</button>
      </div>
    </columns>
  </row>

  <row class="event-row description-row">
    <columns small="12">
      <div class="description-container padded-container bottom-border">
        <div class="details-container">
          <p class="detail-header">DESCRIPTON</p>
          <p class="detail-content">{{{event.content}}}</p>
        </div>
    </columns>
  </row>
</container>

{{> footer}}