---
subject: My Basic Email Template Subject
---

<container class="body content-body">
  <row class="logo-row">
    <columns class="logo-col" small="12">
      <div class="logo-container padded-container">
        <a href="{{club.domain}}">
          <img src="{{club.logoURL}}" alt="{{club.name}}">
        </a>
      </div>
    </columns>
  </row>
  
  <row>
    <columns class="content-column" small="12">
      <div class="content-container padded-container bottom-border">
        {{{content.content}}}
      <div>
    </columns>
  </row>
</container>

{{> footer}}