---
subject: My Basic Email Template Subject
---

<container class="body content-body">
    <row class="logo-row">
        <columns class="logo-col" small="12">
            <div class="logo-container padded-container">
                <a href="{{club.baseURL}}">
                    <img src="{{club.logoURL}}" alt="{{club.name}}">
                </a>
            </div>
        </columns>
    </row>

    <row>
        <columns small="12">
            <div class="image-container">
                <a href="{{post.url}}">
                    <img class="text-center hero-image" src="{{post.photoURL}}" alt="">
                </a>
            </div>
        </columns>
    </row>
    <row>
        <columns class="content-column" small="12">
            <div class="padded-container bottom-border">
                <h1>{{ post.name }}</h1>
            </div>
        </columns>
    </row>
    <row>
        <columns class="content-column" small="12">
            <div class="padded-container bottom-border">
                {{{post.content}}}
            </div>
        </columns>
    </row>
    <row>
        <columns class="button-column" small="12">
            <div class="padded-container bottom-border">
                <button class="expanded small" href="{{content.url}}">{{post.cta}}</button>
            </div>
        </columns>
    </row>
</container>

{{> footer}}