---
subject: My Basic Email Template Subject
---

<container class="body content-body welcome-content-body">

  <row class="logo-row">
    <columns class="logo-col" small="12">
      <div class="logo-container bottom-border">
        <a href="{{club.baseURL}}">
          <img src="{{club.logoURL}}" alt="{{club.name}}">
        </a>
      </div>
    </columns>
  </row>
  
  <row>
    <columns class="content-column" small="12">
      <div class="content-container padded-container">
        <p>Dear {{welcome.firstName}},</p>
        </br>
        <p>You have been invited to create an account for the new {{club.name}} website and mobile application.</p>
        </br>
        <p>To create your account, please visit <a href="{{welcome.inviteLink}}">this link</a> and create your password. Once you've created your password, you'll be able to log in in to the {{club.name}} website at the following location:</p>
        </br>
        <a href="{{welcome.loginURL}}">{{welcome.loginURL}}</a>
        </br>
        </br>
        <p>We've partnered with a company named <a href="https://tryclubhub.com">ClubHub</a> to power our new apps. They've put together a number of helpful videos and articles to help you get started.</p>
        </br>
        <a href="{{welcome.clubhubSupportURL}}">ClubHub Support Portal</a>
        </br>
        </br>
        <p>Lastly, you can download our mobile application using one of the following links:</p>
        </br>
      <div>
    </columns>
  </row>

  <row class="badge-row">
    <columns class="badge-column" small="12">
      <a href="{{welcome.iosAppURL}}"><img class="float-center" src="{{welcome.iosBadgeURL}}"/></a>
    </columns>
    <columns class="badge-column" small="12">
      <a href="{{welcome.androidAppURL}}"><img class="float-center" src="{{welcome.androidBadgeURL}}"/></a>
    </columns> 
  </row>

  <row class="border-row bottom-border">
    <columns class="content-column" small="12">
      <div class="content-container padded-container"/>
    </columns>
  <row>
  
</container>


{{> footer}}