<container class="body confirmation-body">
  <row>
    <columns small="12">
      <spacer size="36"></spacer>
      <center>
        <div class="confirmation-icon-container" valign="middle">
            {{> icon-circle-check }}
        <div>
      </center>
    </columns>
  </row>
  <row>
    <columns class="content-column" small="12">
      <spacer size="22"></spacer>
      <h1 class="text-center">{{confirmation.title}}</h1>
      
      <spacer size="22"></spacer>
      <p class="text-center light-text">{{confirmation.subtitle}}</p>

      <spacer size="22"></spacer>
      <p class="text-center heavy-text">{{confirmation.info}}</p>
    </columns>
  </row>
  <row>
    <columns class="button-column" small="12">  
      <spacer size="12"></spacer>
      <button class="expanded small" href="{{confirmation.url}}">View Tee Time</button>
    </columns>
  </row>
</container>
