<container class="body event-body">
  <row>
    <columns small="12">
      <spacer size="36"></spacer>
      <h1 class="text-center">{{ event.name }}</h1>
    </columns>
  </row>
  <row>
    <columns small="12">
      <a href="{{event.url}}">
        <img class="text-center" src="{{event.imageURL}}" alt="">
      </a>
    </columns>
  </row>
  <row>
    <columns class="content-column" small="12">
      <spacer size="12"></spacer>
      {{{event.content}}}
    </columns>
  </row>
  <row>
    <columns class="button-column" small="12">  
      <spacer size="12"></spacer>
      <button class="expanded small" href="{{event.url}}">View Event</button>
    </columns>
  </row>
</container>
