<container class="body content-body">
  <row>
    <columns small="12">
      <spacer size="36"></spacer>
      <h1 class="text-center">{{ content.name }}</h1>
    </columns>
  </row>
  <row>
    <columns small="12">
      <a href="{{content.url}}">
        <img class="text-center" src="{{content.imageURL}}" alt="">
      </a>
    </columns>
  </row>
  <row>
    <columns class="content-column" small="12">
      <spacer size="12"></spacer>
      {{{content.content}}}
    </columns>
  </row>
  <row>
    <columns class="button-column" small="12">  
      <spacer size="12"></spacer>
      <button class="expanded small" href="{{content.url}}">{{content.cta}}</button>
    </columns>
  </row>
</container>
