.header-image-container {
    border-bottom: 1px solid $light-gray;
}

.container.body.confirmation-body {

    .confirmation-icon-container {
        height: 72px;
        width: 72px;
        text-align: center;
        border-radius: 36px;
        background-color: var(--secondary-color) !important;
        display:table; 

        .icon-img {
            height: 24px;
            width: 24px;
            padding-top: 18px;
        }
        
        p {
            margin: 0 auto;
            font-size: 32px !important; 
            display: inline;
            vertical-align: middle;
            text-align: center;
            display:table-cell;
        }

        .feather {
            font-size: 24px;
            width: 62px;
        }

        i {
            font-size: 24px;
        }
    }

    .button {
        margin-bottom: 0px;
    }

    .no-border {
        border-bottom: none;
    }
}

table.button {
    table {
        td {
            background: var(--primary-color);
            border: 1px solid var(--primary-color);
        }
    }
}
