.header-image-container {
    border-bottom: 1px solid $light-gray;
}

.container.body.confirmation-body {

    #confirmation-icon-container {
        height: 62px;
        width: 62px;
        border-radius: 31px;
        background-color: $primary-color-light;
    
        display: flex;
		justify-content: center !important;
		align-items: center !important;
        flex-direction: column !important;
        
        .icon-img {
            height: 24px;
            width: 24px;
        }

        .feather {
            stroke: $primary-color;
            font-size: 24px;
            width: 62px;
        }

        i {
            color: $primary-color;
            font-size: 24px;
        }
    }

    .button {
        margin-bottom: 0px;
    }

    .no-border {
        border-bottom: none;
    }
}
