.feather {
    width: 24px;
    height: 24px;
    stroke: #AEBDC4;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.content-column {
    padding-left: 48px !important;
    padding-right: 48px !important;
}
