.event-body {
    p {
        font-size: 16px;
        font-weight: 300;
        line-height: 1.75rem;
    }

    a {
        line-height: 1.75rem; 
    }

    .logo-col {
        padding: 18px 0px;
        
        img {
            max-height: 60px;
        }
    }
    
    .detail-header {
        font-size: 12px;
        font-weight: 500;
        color: $medium-gray;
    }

    .detail-link {
        font-size: 16px;
        font-weight: 500;
        color: $primary-color;
    }

    .button-row {    
        .button {
            margin-bottom: 0px;
        }
    }
}