.event-body {
    p {
        font-weight: 300;
        line-height: 1.75rem;
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }

    a {
        line-height: 1.75rem;
        text-decoration: underline; 
    }
    
    .align-text-right {
        text-align: right;
    }

    .detail-link {
        font-weight: 500;
        color: $primary-color;
    }

    .button-row {    
        .button {
            margin-bottom: 0px;
        }
    }
}