.container.footer {
    background: white;
  
    p,
    a {
      color: #AEBDC4;
      font-size: 12px !important;
      font-weight: 500;
    } 

    .center {
      margin-left: 12px;
      margin-right: 12px;
    }

    ul {
      padding-left: 0px;
    }
    
    li {
      list-style-type: none;
    }
}
  