// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles 
body,
html,
.body {
  background: #F6F7FB !important;
}

.clubhub-email-body {
  width: 100vw !important;
}

//-----------------------------------
// TYPOGRAPHY
//-----------------------------------

h1 
h2
h3
h4
h5
h6
p
a
br {
  margin-bottom: 0px;
  color: #495057;
}

h1 {
  font-weight: 600;
  font-size: 32px;
}

p {
  line-height: 22px;
  word-break: normal;
}

.light-text{
  font-weight: 300;
}

.heavy-text{
  font-weight: 700;
}

.underline {
  text-decoration: underline;
}

//-----------------------------------
// IMAGES
//-----------------------------------

img {
  vertical-align: middle;
}

//-----------------------------------
// LAYOUT
//-----------------------------------

.container.body {
  background: white !important;
  border-radius: 4px;

  .columns {
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 0px;
  }

  .button-column {
    padding-left: 48px;
    padding-right: 48px;
  }
}