// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles 
body,
html,
.body {
  background: white !important;

  @media screen and (max-width: 596px) {
    max-width: 100vw !important;
  }
}



//-----------------------------------
// TYPOGRAPHY
//-----------------------------------

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
br,
ul {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  color: #495057;
}

h1 {
  font-weight: 700;
  font-size: 24px;

  @media screen and (min-width:596px) {
    font-size: 32px !important;
  }
}

h6 {
  font-weight: 500;
  color: $medium-gray;
  font-size: 14px;
}

p {
  word-break: normal;
  font-size: 16px;

  -webkit-hyphens: manual;
  -moz-hyphens: manual;
  hyphens: manual;

  @media screen and (min-width:596px) {
    font-size: 18px !important;
  }
}

.light-text {
  font-weight: 300;
}

.heavy-text {
  font-weight: 700;
}

.underline {
  text-decoration: underline;
}

//-----------------------------------
// IMAGES
//-----------------------------------

img {
  vertical-align: middle;
  object-fit: cover;
}

.hero-image {
  min-height: 100%;
  min-width: 100%;
}

.feather {
  width: 24px;
  height: 24px;
  stroke: #AEBDC4;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.image-container {
  height: 240px;
  min-width: 100%;
  overflow: hidden;
  background-color: $light-gray;
  vertical-align: middle;

  @media only screen and (min-width:596px) {
    height: 320px !important;
  }
}


.logo-col {
  padding: 18px 0px;

  img {
    max-height: 60px;
  }
}

//-----------------------------------
// BUTTON
//-----------------------------------

.button {
  margin-bottom: 0px !important;
}

//-----------------------------------
// LAYOUT
//-----------------------------------

.columns {
  padding: 0px 0px !important;
}

.container.body {
  background: white !important;
  border-radius: 4px;
}

.bottom-border {
  border-bottom: 1px solid $light-gray;
}

.padded-container {
  padding: 18px 0px;
}