// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles 
body,
html,
.body {
  background: #F6F7FB !important;
}

//-----------------------------------
// TYPOGRAPHY
//-----------------------------------

h1 {
  font-weight: 600;
}

p {
  line-height: 22px;
  word-break: normal;
}

.light-text{
  font-weight: 300;
}

.heavy-text{
  font-weight: 700;
}

.underline {
  text-decoration: underline;
}

//-----------------------------------
// IMAGES
//-----------------------------------

img {
  border-radius: 4px;
  vertical-align: middle;
}

//-----------------------------------
// LAYOUT
//-----------------------------------

.container.body {
  background: white !important;
  border-radius: 4px;

  .columns {
    padding-left: 24px;
    padding-right: 24px;
  }

  .button-column {
    padding-left: 100px;
    padding-right: 100px;
  }
}