.welcome-content-body {

    .badge-row {
        padding-bottom: 12px;
    }

    .badge-image {
        text-align: center;
        padding-bottom: 12px;
        max-height: 72px;
    }

    a {
        color: blue;
        text-decoration: underline;
    }
}